$default_width: 1170px;
$default_padding: 0 15px;

$default_width_smalldesktop: 1000px;
$default_padding_smalldesktop: 0 13px;

$default_width_tablet: 700px;
$default_padding_tablet: 0 9px;

$default_width_smalltablet: 600px;

$dark_text_color: #506a85;
$light_text_color: #ffffff;
$primary_gray_text_color: #a3b1bf;
$secondary_gray_text_color: #707e8c;
$p_text_color: #73879c;

$light_background: #f5f7fa;
$primary_dark_background: #2f4052;
$secondary_dark_background: #283645;
$form_dark_background: #4e5c6c;
$form_light_background: #f8fafd;

$border: solid 1px #e6e9ed;
$shadow_color: #e6e9ed;
$button_shadow_color: #00a085;
$button_color: #00bc9c;
$move_icon_color: #506a85;

$source_sans_pro: "Source Sans Pro", sans-serif;
$lato: "Lato", sans-serif;